{{#with variables}}
<div class="container-fluid container-principal">
    <div class="container container-fuera">
        <div class="container container-dentro">
            <div class="container container-body">
                <img src="/icons/sun3d.png" class="img-fluid img-sun">
                <div class="container container-section">
                    <h5>{{this.fullDate}}</h5>
                    <h3>Santiago de Chile</h3>
                    <p style="font-size: 150px">{{this.hours.temp}}°</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}